Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"


gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

Check ack version
  .gencode_hash.txt
  bin/clean_tags
  dashboard/functions/index.js
  gencode/docs/state.html
  gencode/java/udmi/schema/SystemState.java
  gencode/python/udmi/schema/state_system.py
  schema/state_system.json
  validator/src/main/java/com/google/daq/mqtt/validator/ReportingDevice.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Cleanup changes
  .gencode_hash.txt
  bin/clean_tags
  gencode/docs/state.html
  gencode/java/udmi/schema/SystemState.java
  gencode/python/udmi/schema/state_system.py
  schema/state_system.json
  validator/src/main/java/com/google/daq/mqtt/validator/ReportingDevice.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

changed usage of @import to @use
  udmif/web/README.md
  udmif/web/src/app/app.component.scss
  udmif/web/src/app/breadcrumb/breadcrumb.component.scss
  udmif/web/src/app/device/device.component.scss
  udmif/web/src/app/login/login.component.scss
  udmif/web/src/app/navigation/navigation.component.scss
  udmif/web/src/app/page-not-found/page-not-found.component.scss
  udmif/web/src/app/search-filter/search-filter.component.scss
  udmif/web/src/styles/_variables.scss
  udmif/web/src/styles/styles.scss
  udmif/web/src/styles/theme.scss
Due: web

FIx logging
  dashboard/functions/index.js
  validator/.idea/runConfigurations/ConfigValidator_system_last_update.xml
  validator/src/main/java/com/google/daq/mqtt/validator/AugmentedState.java
  validator/src/main/java/com/google/daq/mqtt/validator/SequenceValidator.java
  validator/src/main/java/com/google/daq/mqtt/validator/validations/ConfigValidator.java
Due: none

Add managed config acked
  validator/src/main/java/com/google/daq/mqtt/validator/SequenceValidator.java
  validator/src/main/java/com/google/daq/mqtt/validator/validations/ConfigValidator.java
Due: none

Linty fixes
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/MessageBundle.java
  validator/src/main/java/com/google/daq/mqtt/validator/AugmentedState.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Cleanup testing
  dashboard/functions/index.js
  validator/src/main/java/com/google/daq/mqtt/validator/SequenceValidator.java
  validator/src/main/java/com/google/daq/mqtt/validator/validations/ConfigValidator.java
Due: none

comments .. type and explicit string manip
  bin/pubber
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

remove extra white space
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

qos and missingpoint
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/MqttPublisher.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

colon ..
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
Due: none

documentation
  docs/tools/pubber.md
Due: none

#1177-added details about envs
  udmif/web/README.md
Due: web

Separate out test for config acked
  validator/src/main/java/com/google/daq/mqtt/validator/validations/ConfigValidator.java
Due: none

Updating expected out
  bin/test_sequencer
  etc/sequencer.out
Due: none

Restore full constant names
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

First pass at RegistrarTest and slight changes to Registrar.
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/registrar/RegistrarTest.java
Due: none

Add sequence test to make sure config messages are properly acked by a client. (#358)
  bin/test_sequencer
  dashboard/functions/index.js
  etc/sequencer.out
  validator/.idea/runConfigurations/ConfigValidator_system_last_update.xml
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/MessageBundle.java
  validator/src/main/java/com/google/daq/mqtt/validator/AugmentedState.java
  validator/src/main/java/com/google/daq/mqtt/validator/SequenceValidator.java
  validator/src/main/java/com/google/daq/mqtt/validator/validations/ConfigValidator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

no empty check
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Handle env variable by not throwing exception if the var is not available (#200)
  udmif/api/package.json
  udmif/api/src/__tests__/server/config.spec.ts
  udmif/api/src/server/config.ts
  udmif/api/util/UDMI-Devices.js
Due: api

Fetch specific hash
  bin/clone_model
Due: none

comments + docs
  docs/tools/pubber.md
  proxy/pubber.json
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

correct documentation
  docs/tools/pubber.md
Due: none

#1179-removed state from devices service
  udmif/web/README.md
  udmif/web/package-lock.json
  udmif/web/package.json
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.service.ts
  udmif/web/src/app/search-filter/search-filter.component.ts
Due: web

#1179-fixed tests, removed use of fragments for testing purposes
  udmif/web/src/app/device/device.component.ts
  udmif/web/src/app/device/device.d.ts
  udmif/web/src/app/device/device.gql.ts
  udmif/web/src/app/device/device.service.spec.ts
  udmif/web/src/app/devices/devices.component.spec.ts
  udmif/web/src/app/devices/devices.d.ts
  udmif/web/src/app/devices/devices.gql.ts
  udmif/web/src/app/devices/devices.service.spec.ts
  udmif/web/src/app/devices/devices.service.ts
  udmif/web/src/app/points/points.d.ts
  udmif/web/src/app/points/points.gql.ts
  udmif/web/src/app/points/points.service.spec.ts
Due: web

refactor pubber options and add noHardware option
  bin/pubber
  docs/tools/pubber.md
  proxy/pubber.json
  pubber/src/main/java/daq/pubber/Configuration.java
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

#1182-changed the filter icon
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.scss
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.module.ts
  udmif/web/src/app/search-filter/search-filter.component.html
  udmif/web/src/styles/styles.scss
Due: web

#1181-changed theme colors, adjusted nav
  udmif/web/src/app/navigation/navigation.component.html
  udmif/web/src/app/navigation/navigation.component.scss
  udmif/web/src/styles/_variables.scss
  udmif/web/src/styles/styles.scss
  udmif/web/src/styles/theme.scss
Due: web

Configuration init exception handling
  validator/.idea/runConfigurations/Registrar.xml
  validator/src/main/java/com/google/daq/mqtt/registrar/LocalDevice.java
  validator/src/main/java/com/google/daq/mqtt/registrar/MessageDowngrader.java
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
Due: none

Downgrade config
  validator/src/main/java/com/google/daq/mqtt/registrar/LocalDevice.java
  validator/src/main/java/com/google/daq/mqtt/registrar/MessageDowngrader.java
  validator/src/main/java/com/google/daq/mqtt/validator/MessageUpgrader.java
Due: none

Add high-level testing script
  .github/workflows/testing.yml
  bin/test_sites
  tests/downgrade.site/cloud_iot_config.json
  tests/downgrade.site/devices/DWN-1/metadata.json
  tests/downgrade.site/devices/DWN-1/out/errors.json
  tests/downgrade.site/devices/DWN-1/out/exceptions.txt
  tests/downgrade.site/devices/DWN-1/out/generated_config.json
  tests/downgrade.site/devices/DWN-1/out/metadata_norm.json
  tests/downgrade.site/registration_summary.json
  tests/downgrade.site/site_metadata.json
  validator/.idea/runConfigurations/Registrar.xml
  validator/src/main/java/com/google/daq/mqtt/registrar/LocalDevice.java
Due: none

Reverting hashy model change
  bin/clone_model
Due: none

Updated to expectations
  .github/workflows/testing.yml
  bin/test_sites
  tests/downgrade.site/devices/DWN-1/expected/errors.json
  tests/downgrade.site/devices/DWN-1/expected/exceptions.txt
  tests/downgrade.site/devices/DWN-1/expected/generated_config.json
  tests/downgrade.site/devices/DWN-1/expected/metadata_norm.json
  tests/downgrade.site/devices/DWN-2/expected/errors.json
  tests/downgrade.site/devices/DWN-2/expected/exceptions.txt
  tests/downgrade.site/devices/DWN-2/expected/metadata_norm.json
  tests/downgrade.site/devices/DWN-2/metadata.json
  tests/downgrade.site/registration_summary.json
Due: none

Updating expected/
  .gitignore
  bin/test_sites
  tests/downgrade.site/devices/DWN-1/metadata.json
  tests/downgrade.site/devices/DWN-2/expected/generated_config.json
  tests/downgrade.site/devices/DWN-2/metadata.json
  tests/downgrade.site/registration_summary.json
  validator/src/main/java/com/google/daq/mqtt/registrar/LocalDevice.java
Due: none

#1180-moved search filter down
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.module.ts
  udmif/web/src/app/search-filter/search-filter.component.html
  udmif/web/src/app/search-filter/search-filter.component.scss
  udmif/web/src/app/search-filter/search-filter.component.ts
  udmif/web/src/app/search-filter/search-filter.module.ts
Due: web

#1180-made clear filters work
  udmif/web/src/app/search-filter/search-filter.component.html
  udmif/web/src/app/search-filter/search-filter.component.ts
Due: web

Add validation tests
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/registrar/RegistrarTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

#1180-fixed clearing/opening/closing autocomplete
  udmif/web/src/app/search-filter/search-filter.component.ts
Due: web

#1180-made ux behave nicer for autocomplete when clearing
  udmif/web/src/app/search-filter/search-filter.component.ts
Due: web

#1180-adjusted comments
  udmif/web/src/app/search-filter/search-filter.component.ts
Due: web
