Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api
  trigger:
    include: udmif/api/build.yml

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml

Linty
  .github/workflows/testing.yml
  validator/src/main/java/com/google/daq/mqtt/util/IotMockProvider.java
  validator/src/test/java/com/google/daq/mqtt/registrar/RegistrarTest.java
Due: none

comments
  docs/specs/sequences/endpoint_reconfiguration.md
  tests/config.tests/endpoint_reconfiguration.out
  tests/state.tests/endpoint_reconfiguration.json
Due: none

change clone_model checkout target
  bin/clone_model
Due: none

#1367-added tests
  udmif/api/src/__tests__/device/MockDeviceDataSource.ts
  udmif/api/src/__tests__/device/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/device/data.ts
  udmif/api/src/__tests__/device/deviceValidationMessage.json
  udmif/api/src/__tests__/device/resolve.spec.ts
  udmif/api/src/__tests__/server/context.spec.ts
  udmif/api/src/__tests__/site/MockSiteDataSource.ts
  udmif/api/src/__tests__/site/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/site/data.ts
  udmif/api/src/__tests__/site/resolve.spec.ts
  udmif/api/src/__tests__/site/siteValidationMessage.json
  udmif/api/src/site/model.ts
  udmif/api/src/site/resolvers.ts
  udmif/api/src/site/schema.graphql
  udmif/api/tsconfig.json
Due: api

save commit and push changes ..
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

Restore WebServer.java
  validator/src/main/java/com/google/daq/mqtt/registrar/WebServer.java
Due: none

Adding comment
  validator/src/main/java/com/google/daq/mqtt/registrar/WebServer.java
Due: none

Update sequence-generator to work with property maps (#15)
  validator/.idea/runConfigurations/WritebackSequences_writeback_states.xml
  validator/src/main/java/com/google/daq/mqtt/util/ConfigDiffEngine.java
Due: none

new generated.md (but not comitted validator proofs)
  docs/specs/sequences/generated.md
Due: none

commit sequencer proofs (expect pass)
  validator/sequences/writeback_states/config_pointset.attr
  validator/sequences/writeback_states/config_pointset.json
  validator/sequences/writeback_states/config_system.attr
  validator/sequences/writeback_states/config_system.json
  validator/sequences/writeback_states/config_update.attr
  validator/sequences/writeback_states/config_update.json
  validator/sequences/writeback_states/event_pointset.attr
  validator/sequences/writeback_states/event_pointset.json
  validator/sequences/writeback_states/event_system.attr
  validator/sequences/writeback_states/event_system.json
  validator/sequences/writeback_states/local_config.json
  validator/sequences/writeback_states/local_system.json
  validator/sequences/writeback_states/sequence.md
  validator/sequences/writeback_states/sequencer.log
  validator/sequences/writeback_states/state_discovery.json
  validator/sequences/writeback_states/state_pointset.attr
  validator/sequences/writeback_states/state_pointset.json
  validator/sequences/writeback_states/state_system.attr
  validator/sequences/writeback_states/state_system.json
  validator/sequences/writeback_states/state_update.attr
  validator/sequences/writeback_states/state_update.json
  validator/sequences/writeback_states/system.log
Due: none

commit gcp_device_logs
  bin/gcp_device_logs
  docs/tools/gcloud.md
Due: none

add example
  docs/tools/gcloud.md
Due: none

Cleanup test runner
  bin/loop_sequences
  bin/sequencer
  validator/.idea/runConfigurations/Registrar.xml
  validator/.idea/runConfigurations/SequenceTestRunner.xml
  validator/src/main/java/com/google/daq/mqtt/registrar/WebServer.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/util/ValidatorConfig.java
  validator/src/main/java/com/google/daq/mqtt/util/WebServerBase.java
Due: none

Add tool to view device GCP cloud logging entries (#448)
  bin/gcp_device_logs
  docs/tools/gcloud.md
Due: none

Fixing semantic dates for discovery (#16)
  docs/specs/sequences/generated.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
Due: none

sequencer.out
  etc/sequencer.out
Due: none

#1367-adjusting PR comments
  udmif/api/src/server/datasources.ts
  udmif/api/src/site/resolvers.ts
Due: api

ENable running through web server
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/SimpleWebServer.java
Due: none

#1403-added sorting paging and filtering
  udmif/web/src/app/sites/sites.component.html
Due: web

Refactoring runner
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
Due: none

#1344-created site details page
  udmif/web/src/app/site/site-routing.module.ts
  udmif/web/src/app/site/site.component.html
  udmif/web/src/app/site/site.component.scss
  udmif/web/src/app/site/site.component.spec.ts
  udmif/web/src/app/site/site.component.ts
  udmif/web/src/app/site/site.d.ts
  udmif/web/src/app/site/site.gql.ts
  udmif/web/src/app/site/site.module.ts
  udmif/web/src/app/site/site.service.spec.ts
  udmif/web/src/app/site/site.service.ts
  udmif/web/src/app/sites/sites-routing.module.ts
  udmif/web/src/app/sites/sites.component.html
Due: web

#1344-default to first tab on site details screen
  udmif/web/src/app/site/site-routing.module.ts
Due: web

Working on continuous pipeline
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/PubSubClient.java
  validator/src/main/java/com/google/daq/mqtt/util/SimpleWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/ValidatorConfig.java
Due: none

Basic working swarm test
  common/src/main/java/com/google/udmi/util/SiteModel.java
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/Common.java
  validator/src/main/java/com/google/daq/mqtt/util/SimpleWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/ValidatorConfig.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceWebServerTest.java
Due: none

Apply test to just one device
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceWebServer.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceWebServerTest.java
Due: none

restore gcp_device_logs
  bin/gcp_device_logs
Due: none

rename _iot_endpoint to _iot_endpoint_config
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

#1419-added navigation service to hold page title
  udmif/web/src/app/device/device.component.html
  udmif/web/src/app/device/device.component.scss
  udmif/web/src/app/device/device.component.ts
  udmif/web/src/app/navigation/navigation.component.html
  udmif/web/src/app/navigation/navigation.component.scss
  udmif/web/src/app/navigation/navigation.component.ts
  udmif/web/src/app/navigation/navigation.service.ts
  udmif/web/src/app/site/site.component.html
  udmif/web/src/app/site/site.component.scss
  udmif/web/src/app/site/site.component.ts
Due: web

#1419-added tests
  udmif/web/src/app/device/device.component.spec.ts
  udmif/web/src/app/device/device.component.ts
  udmif/web/src/app/navigation/navigation.service.spec.ts
  udmif/web/src/app/site/site.component.spec.ts
  udmif/web/src/app/site/site.component.ts
Due: web

comments - clone model and gitattributes
  .gitattributes
  bin/clone_model
  docs/tools/gcloud.md
Due: none

Remove all existing lint warnings for validator/
  validator/.idea/runConfigurations/Registrar.xml
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/IotReflectorClient.java
  validator/src/main/java/com/google/bos/iot/core/proxy/MessageValidator.java
  validator/src/main/java/com/google/bos/iot/core/proxy/MqttPublisher.java
  validator/src/main/java/com/google/bos/iot/core/proxy/NullPublisher.java
  validator/src/main/java/com/google/bos/iot/core/proxy/ProxyTarget.java
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/util/ConfigUtil.java
  validator/src/main/java/com/google/daq/mqtt/util/DeviceExceptionManager.java
Due: none

change preparing -> apply
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

Comments
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

Endpoint config - invalid
  bin/loop_sequences
  bin/sequencer
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

Add failure status
  docs/specs/sequences/endpoint_reconfiguration.md
  tests/state.tests/endpoint_reconfiguration_failed.json
  tests/state.tests/endpoint_reconfiguration_failed.out
Due: none

example
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

remove duplicate blob
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

#1418-added validation card
  udmif/web/src/app/common/pipes/parse.pipe.spec.ts
  udmif/web/src/app/common/pipes/parse.pipe.ts
  udmif/web/src/app/common/pipes/pipes.module.ts
  udmif/web/src/app/device/device.component.html
  udmif/web/src/app/device/device.d.ts
  udmif/web/src/app/device/device.gql.ts
  udmif/web/src/app/device/device.module.ts
  udmif/web/src/app/site/site.component.html
  udmif/web/src/app/site/site.d.ts
  udmif/web/src/app/site/site.gql.ts
  udmif/web/src/app/site/site.module.ts
  udmif/web/src/app/validation-status/validation-status.component.html
  udmif/web/src/app/validation-status/validation-status.component.scss
  udmif/web/src/app/validation-status/validation-status.component.spec.ts
  udmif/web/src/app/validation-status/validation-status.component.ts
  udmif/web/src/app/validation-status/validation-status.module.ts
Due: web

#1418-expose validation property on device and site
  udmif/api/src/__tests__/device/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/device/resolve.spec.ts
  udmif/api/src/__tests__/site/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/site/resolve.spec.ts
  udmif/api/src/device/resolvers.ts
  udmif/api/src/device/schema.graphql
  udmif/api/src/site/resolvers.ts
  udmif/api/src/site/schema.graphql
Due: api

Path conditions:
  api: any of: udmif/api/**/*
  web: any of: udmif/web/**/*
  event-handler: any of: udmif/event-handler/**/*
  gcp: any of: cloud/gcp/**/*
