Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api
  trigger:
    include: udmif/api/build.yml

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml

Check not logging sequence output
  docs/specs/sequences/generated.md
  validator/sequences/broken_config/sequence.md
  validator/sequences/extra_config/sequence.md
  validator/sequences/system_min_loglevel/sequence.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Fix linty
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Updating test_itemized
  etc/test_itemized.out
Due: none

Updating min_loglevel sequence test (#536)
  .gencode_hash.txt
  bin/test_sequencer
  common/src/main/java/com/google/udmi/util/CleanDateFormat.java
  common/src/main/java/com/google/udmi/util/JsonUtil.java
  docs/specs/sequences/generated.md
  etc/category.json
  etc/test_itemized.out
  gencode/docs/command_mapping.html
  gencode/docs/config_mapping.html
  gencode/docs/event.html
  gencode/docs/event_discovery.html
  gencode/docs/event_mapping.html
  gencode/docs/event_system.html
  gencode/docs/event_validation.html
  gencode/docs/state.html
  gencode/docs/state_mapping.html
  gencode/docs/state_validation.html
  gencode/java/udmi/schema/Entry.java
  gencode/java/udmi/schema/SystemEvent.java
  gencode/python/udmi/schema/event_system.py
  pubber/pubber.iml
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/category.json
  schema/event_system.json
  udmis/deploy_udmis_firebase
  udmis/functions/index.js
  validator/sequences/broken_config/sequence.md
  validator/sequences/extra_config/sequence.md
  validator/sequences/system_min_loglevel/sequence.md
  validator/sequences/system_mode_restart/sequence.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/semantic/SemanticDate.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/WritebackSequences.java
Due: none

fixing types
  udmif/event-handler/package.json
  udmif/event-handler/src/EventUtils.ts
  udmif/event-handler/src/Handler.ts
  udmif/event-handler/src/__tests__/MessageUtils.spec.ts
  udmif/event-handler/src/__tests__/UdmiEventHandler.spec.ts
  udmif/event-handler/src/__tests__/dataUtils.ts
  udmif/event-handler/src/__tests__/device/DeviceDocumentUtils.spec.ts
  udmif/event-handler/src/__tests__/model/Validation.spec.ts
  udmif/event-handler/src/__tests__/site/SiteDocumentUtils.spec.ts
  udmif/event-handler/src/device/DeviceDAO.ts
  udmif/event-handler/src/device/DeviceDocumentUtils.ts
  udmif/event-handler/src/device/DeviceHandler.ts
  udmif/event-handler/src/device/DeviceValidationDAO.ts
  udmif/event-handler/src/device/model/Device.ts
  udmif/event-handler/src/index.ts
  udmif/event-handler/src/model/UdmiEvent.ts
  udmif/event-handler/src/model/Validation.ts
  udmif/event-handler/src/site/SiteDAO.ts
  udmif/event-handler/src/site/SiteDocumentUtils.ts
  udmif/event-handler/src/site/SiteHandler.ts
  udmif/event-handler/src/site/SiteValidationDAO.ts
  udmif/event-handler/src/udmi/UdmiEvent.ts
  udmif/event-handler/src/udmi/UdmiEventHandler.ts
Due: event-handler

x
  bin/presubmit
Due: none

simplifying device dao
  udmif/event-handler/src/device/DeviceDAO.ts
Due: event-handler

Adding oftencron
  .github/workflows/testing.yml
Due: none

Fixing arg name and removing commented out code
  udmif/event-handler/src/dao/DAO.ts
  udmif/event-handler/src/device/DeviceDAO.ts
Due: event-handler

adding paging
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
  udmif/api/src/__tests__/dao/postgresql/OrderBy.spec.ts
  udmif/api/src/__tests__/dao/postgresql/Where.spec.ts
  udmif/api/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
Due: api

Adding offset and batchsize test
  udmif/api/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
Due: api

helm version reverted
  udmif/event-handler/build.yml
Due: event-handler

adjusting interface
  udmif/api/src/dao/DAO.ts
  udmif/api/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
Due: api

setup env variables
  udmif/api/build.yml
  udmif/event-handler/build.yml
Due: api, event-handler

creating ci for develop branch
  udmif/api/build.yml
  udmif/event-handler/build.yml
  udmif/web/build.yml
Due: api, web, event-handler

Created postgres intance
  cloud/gcp/postgresql.tf
  cloud/gcp/variables.tf
Due: gcp

Setup postgres in gcp
  cloud/gcp/build.yml
  cloud/gcp/postgresql.tf
  cloud/gcp/variables.tf
  udmif/api/build.yml
  udmif/event-handler/build.yml
  udmif/web/build.yml
Due: api, web, event-handler, gcp

added network service
  cloud/gcp/api.tf
Due: gcp

Presubmit script (#539)
  bin/gencode
  bin/presubmit
  bin/setup_base
  bin/which_venv_pip3
Due: none

adding logic to handle other query types
  udmif/api/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
  udmif/api/src/dao/DAO.ts
  udmif/api/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
Due: api

kore_config
  iots/kore_config.json
Due: none

Updating prod packaging. (#253)
  udmif/event-handler/prod-package.json
  udmif/readme.md
Due: event-handler

Removing TWS
  pubber/src/main/java/daq/pubber/MqttPublisher.java
Due: none

Add alt_registry
  bin/sequencer
Due: none

add pingreq
  misc/gcloud_iot_pingreq_log/README.md
  misc/gcloud_iot_pingreq_log/deploy
  misc/gcloud_iot_pingreq_log/functions/index.js
  misc/gcloud_iot_pingreq_log/functions/package.json
  misc/gcloud_iot_pingreq_log/schema_messages.json
Due: none

pingreq
  misc/gcloud_iot_pingreq_log/deploy
  misc/gcloud_iot_pingreq_log/functions/index.js
Due: none

Initial hacks at alt registry
  .gencode_hash.txt
  docs/specs/sequences/generated.md
  gencode/docs/config.html
  gencode/java/udmi/schema/TestingSystemConfig.java
  gencode/python/udmi/schema/config_system_testing.py
  schema/config_system_testing.json
  validator/sequences/broken_config/sequence.md
  validator/sequences/writeback_success/sequence.md
  validator/src/main/java/com/google/bos/iot/core/proxy/IotReflectorClient.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

fixing prod package.json (#255)
  udmif/event-handler/prod-package.json
Due: event-handler

Adding concurrency
  .github/workflows/testing.yml
Due: none

fixing env variable
  udmif/api/knexfile.ts
Due: api

adding cancel-in-progress
  .github/workflows/testing.yml
Due: none

Add concurrency group
  .github/workflows/testing.yml
Due: none

Add concurrency group (#540)
  .github/workflows/testing.yml
Due: none

Remove redundant concurrency
  .github/workflows/testing.yml
Due: none

Path conditions:
  api: any of: udmif/api/**/*
  web: any of: udmif/web/**/*
  event-handler: any of: udmif/event-handler/**/*
  gcp: any of: cloud/gcp/**/*
