Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api
  trigger:
    include: udmif/api/build.yml

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml

added network service
  cloud/gcp/api.tf
Due: gcp

Fix startup reset
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
Due: none

adding error handling when postgresql is not available
  udmif/event-handler/README.md
  udmif/event-handler/knexfile.ts
  udmif/event-handler/package.json
  udmif/event-handler/runDbSchemaMigration.sh
  udmif/event-handler/src/dao/mongo/MongoDAO.ts
  udmif/event-handler/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
  udmif/event-handler/src/dao/postgresql/DeviceDAO.ts
  udmif/event-handler/src/dao/postgresql/PgDaoProvider.ts
  udmif/event-handler/src/device/DeviceDocumentUtils.ts
  udmif/event-handler/src/device/DeviceHandler.ts
  udmif/event-handler/src/index.ts
Due: event-handler

Cleanup config testing
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Moving some files around
  udmif/event-handler/src/__tests__/EventUtils.spec.ts
  udmif/event-handler/src/__tests__/index.constructor.spec.ts
  udmif/event-handler/src/__tests__/index.spec.ts
  udmif/event-handler/src/__tests__/udmi/UdmiEventHandler.spec.ts
  udmif/event-handler/src/device/DeviceDAO.ts
  udmif/event-handler/src/device/DeviceValidationDAO.ts
  udmif/event-handler/src/index.ts
  udmif/event-handler/src/site/SiteDAO.ts
  udmif/event-handler/src/site/SiteValidationDAO.ts
  udmif/event-handler/src/udmi/UdmiEvent.ts
  udmif/event-handler/src/udmi/UdmiEventHandler.ts
Due: event-handler

removing redundant files
  udmif/event-handler/src/dao/postgresql/DeviceDAO.ts
  udmif/event-handler/src/dao/postgresql/DeviceValidationDAO.ts
  udmif/event-handler/src/dao/postgresql/SiteDAO.ts
  udmif/event-handler/src/dao/postgresql/SiteValidationDAO.ts
  udmif/event-handler/src/index.ts
Due: event-handler

CLeanup run
  docs/specs/sequences/generated.md
  validator/sequences/broken_config/sequence.md
  validator/sequences/device_config_acked/sequence.md
  validator/sequences/endpoint_config_connection_error/sequence.md
  validator/sequences/endpoint_config_connection_success_reconnect/sequence.md
  validator/sequences/single_scan/sequence.md
  validator/sequences/system_mode_restart/sequence.md
Due: none

Fix failed test generated
  docs/specs/sequences/generated.md
Due: none

Adding test sequenecer
  bin/test_sequencer
Due: none

Fix output
  validator/sequences/device_config_acked/sequence.md
Due: none

Fix writeback expected state
  etc/test_itemized.out
Due: none

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
Due: none

Adding more tests
  udmif/event-handler/src/__tests__/device/DeviceDAO.spec.ts
  udmif/event-handler/src/device/DeviceDAO.ts
Due: event-handler

Adding more tests
  udmif/event-handler/src/__tests__/device/DeviceHandler.spec.ts
  udmif/event-handler/src/__tests__/device/DeviceValidationDAO.spec.ts
  udmif/event-handler/src/device/DeviceDocumentUtils.ts
Due: event-handler

setup env variables
  udmif/api/build.yml
  udmif/event-handler/build.yml
Due: api, event-handler

Adding mock in memory db
  udmif/event-handler/package-lock.json
  udmif/event-handler/package.json
  udmif/event-handler/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
  udmif/event-handler/src/__tests__/dao/postgresql/PostgreSQLProvider.spec.ts
  udmif/event-handler/src/dao/postgresql/PostgreSQLProvider.ts
  udmif/event-handler/src/device/DeviceDAO.ts
  udmif/event-handler/src/device/DeviceValidationDAO.ts
  udmif/event-handler/src/index.ts
  udmif/event-handler/src/site/SiteDAO.ts
  udmif/event-handler/src/site/SiteValidationDAO.ts
Due: event-handler

generateEndpointConfigBase64Payload needs to use generateEndpointConfigClientId (#532)
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
Due: none

cleaning up unit tests
  udmif/event-handler/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
  udmif/event-handler/src/__tests__/site/SiteDAO.spec.ts
  udmif/event-handler/src/__tests__/site/SiteValidationDAO.spec.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/__tests__/site/SiteValidationDAO.spec.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/__tests__/dao/postgresql/AbstractPostgreSQLDAO.spec.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/__tests__/device/DeviceDAO.spec.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/device/DeviceDAO.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/__tests__/site/SiteHandler.spec.ts
  udmif/event-handler/src/site/SiteHandler.ts
Due: event-handler

cleaning tests
  udmif/event-handler/src/__tests__/site/SiteHandler.spec.ts
Due: event-handler

Addressing comments
  bin/test_sequencer
  common/src/main/java/com/google/udmi/util/SiteModel.java
Due: none

Adding expected config.out
  etc/validator.out
Due: none

adding basic knex support
  udmif/api/knexfile.ts
  udmif/api/migrations/migrations.ts
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/runDbSchemaMigration.sh
  udmif/api/src/app.ts
  udmif/api/src/dao/MongoDAO.ts
Due: api

Remove extra out
  etc/validator.out
Due: none

Feature-neutral refactoring of testing framework (#528)
  .github/workflows/testing.yml
  .gitignore
  bin/test_itemized
  bin/test_sequencer
  common/src/main/java/com/google/udmi/util/SiteModel.java
  docs/specs/sequences/generated.md
  etc/test_itemized.out
  validator/sequences/broken_config/sequence.md
  validator/sequences/endpoint_config_connection_error/sequence.md
  validator/sequences/endpoint_config_connection_success_reconnect/sequence.md
  validator/sequences/single_scan/sequence.md
  validator/sequences/system_mode_restart/sequence.md
  validator/src/main/java/com/google/bos/iot/core/proxy/IotReflectorClient.java
  validator/src/main/java/com/google/bos/iot/core/proxy/MockPublisher.java
  validator/src/main/java/com/google/bos/iot/core/proxy/NullPublisher.java
  validator/src/main/java/com/google/daq/mqtt/WebServerRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/validator/Reflector.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/TestCommon.java
  validator/src/test/java/com/google/daq/mqtt/WebServerRunnerTest.java
  validator/src/test/java/com/google/daq/mqtt/registrar/RegistrarTest.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceRunnerTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/BasicTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/PlaybackTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/TestBase.java
Due: none

Squash commit
  docs/specs/sequences/generated.md
  validator/sequences/endpoint_config_connection_success_reconnect/sequence.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceBaseTest.java
Due: none

Add blocking/interrupt mechanism for sequence tests that timeout (#526)
  docs/specs/sequences/generated.md
  validator/sequences/endpoint_config_connection_success_reconnect/sequence.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceBaseTest.java
Due: none

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
Due: none

x
  bin/sequencer
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

x
  validator/build.gradle
Due: none

x
  validator/bin/build
  validator/build.gradle
Due: none

Path conditions:
  api: any of: udmif/api/**/*
  web: any of: udmif/web/**/*
  event-handler: any of: udmif/event-handler/**/*
  gcp: any of: cloud/gcp/**/*
