Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"


gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

testing gcf/ci/cd
  udmif/event-handler/build.yml
Due: event-handler

testing gcf
  udmif/event-handler/build.yml
Due: event-handler

creating ci/cd/gcf
  udmif/event-handler/build.yml
Due: event-handler

testing ci/cd-gcf
  udmif/event-handler/build.yml
Due: event-handler

testing ci/cd
  udmif/event-handler/build.yml
Due: event-handler

Add validator unit test framework
  .github/workflows/testing.yml
  validator/build.gradle
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
  validator/validator.iml
Due: none

Rename tests
  .github/workflows/testing.yml
Due: none

Removing unnecessary
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
Due: none

style cleanup
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/CloudIotManager.java
  validator/src/main/java/com/google/bos/iot/core/proxy/ProjectMetadata.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Basic unit test framework for the validator tool (#354)
  .github/workflows/testing.yml
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/CloudIotManager.java
  validator/src/main/java/com/google/bos/iot/core/proxy/ProjectMetadata.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
  validator/validator.iml
Due: none

Basic tests for missing points
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Add pointset state validator
  validator/src/main/java/com/google/daq/mqtt/validator/ReportingDevice.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Fix condition
  validator/src/main/java/com/google/daq/mqtt/validator/ReportingDevice.java
Due: none

Remove deprecated udms tests (slow and flaky)
  .github/workflows/testing.yml
Due: none

Remove deprecated udms tests (slow and flaky) (#355)
  .github/workflows/testing.yml
Due: none

Adding expected validator.out
  etc/validator.out
Due: none

Adding timestamp/version to allowable system state
  .gencode_hash.txt
  etc/validator.out
  gencode/docs/state.html
  gencode/java/udmi/schema/SystemState.java
  gencode/python/udmi/schema/state_system.py
  schema/state_system.json
Due: none

changing mongo access admin to udmi
  cloud/gcp/gks.tf
  cloud/gcp/mongodb.tf
  cloud/gcp/variables.tf
Due: gcp

updated variable in api
  udmif/helm/udmi-api/values.yaml
Due: none

Validate pointset state missing points (#356)
  .gencode_hash.txt
  gencode/docs/state.html
  gencode/java/udmi/schema/SystemState.java
  gencode/python/udmi/schema/state_system.py
  schema/state_system.json
  validator/src/main/java/com/google/daq/mqtt/validator/ReportingDevice.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/ValidatorTest.java
Due: none

Adding log to see incoming message (#190)
  udmif/event-handler/src/DeviceDao.ts
  udmif/event-handler/src/index.ts
Due: event-handler

Fixed readme
  docs/udmif/helm.md
Due: none

Update README.md
  udmif/event-handler/README.md
Due: event-handler

Add log to help debug (#191)
  udmif/event-handler/README.md
Due: event-handler

updated variable
  udmif/api/build.yml
Due: api

use options object
  bin/pubber
  proxy/pubber.json
  pubber/src/main/java/daq/pubber/Configuration.java
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

pubber assignable options
  bin/pubber
Due: none

handle and enforce types
  bin/pubber
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

fix noHardware logic
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

fix style errors and remove tostring
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

fix style
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

remove unused imports
  pubber/src/main/java/daq/pubber/ConfigurationOptions.java
Due: none

Need to shift by number of options parsed (#350)
  bin/clean_tags
Due: none

pass arguments to gcloud deploy
  dashboard/deploy_dashboard_gcloud
Due: none

Fixing env var key for mongor password (#193)
  udmif/api/src/__tests__/server/config.spec.ts
  udmif/api/src/server/config.ts
Due: api

updating mongo_host
  cloud/gcp/mongodb.tf
Due: gcp

Fix env var (#195)
  udmif/api/src/__tests__/server/config.spec.ts
  udmif/api/src/device/dao/mongodb/MongoClient.ts
  udmif/api/src/device/dao/mongodb/MongoDeviceDAO.ts
  udmif/api/src/server/config.ts
Due: api

Fixing the data so that the tags and points are populated with empty arrays to start (#196)
  udmif/event-handler/src/DeviceDocument.ts
  udmif/event-handler/src/Point.ts
  udmif/event-handler/src/__tests__/DeviceDocument.spec.ts
  udmif/event-handler/src/__tests__/DeviceDocumentFactory.spec.ts
  udmif/event-handler/src/__tests__/Points.spec.ts
Due: event-handler

Fixing data (#197)
  udmif/event-handler/src/DeviceDocument.ts
  udmif/event-handler/src/__tests__/DeviceDocument.spec.ts
  udmif/event-handler/src/__tests__/DeviceDocumentFactory.spec.ts
Due: event-handler
