Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

#1367-testing git hook
  udmif/web/package.json
  udmif/web/src/app/sites/sites.component.ts
Due: web

#1367-testing git hook
  udmif/web/package.json
Due: web

#1367-testing git hook
  udmif/web/src/app/sites/sites.component.ts
Due: web

#1367-testing git hook
  udmif/web/package-lock.json
  udmif/web/package.json
  udmif/web/src/app/sites/sites.component.ts
Due: web

Separate validation report from result -- state vs. event (#433)
  .gencode_hash.txt
  bin/gencode_docs
  docs/specs/categories.md
  docs/specs/validation.md
  gencode/docs/cloud_iot_config.html
  gencode/docs/command_discovery.html
  gencode/docs/config_pointset.html
  gencode/docs/configuration_endpoint.html
  gencode/docs/event_discovery.html
  gencode/docs/event_system.html
  gencode/docs/index.html
  gencode/docs/model_pointset.html
  gencode/docs/state.html
  gencode/docs/state_pointset.html
  gencode/docs/state_validation.html
  gencode/java/udmi/schema/Category.java
  gencode/java/udmi/schema/ValidationEvent.java
  gencode/java/udmi/schema/ValidationState.java
  gencode/python/udmi/schema/__init__.py
  gencode/python/udmi/schema/category.py
  gencode/python/udmi/schema/event_validation.py
  gencode/python/udmi/schema/state_validation.py
  schema/category.json
  schema/event_validation.json
  schema/state_validation.json
  tests/event_system.tests/errors.out
  tests/event_validation.tests/simple_error.json
  tests/event_validation.tests/simple_error.out
  tests/event_validation.tests/simple_ok.json
  tests/state_validation.tests/report.json
  tests/state_validation.tests/report.out
  validator/src/main/java/com/google/daq/mqtt/util/FileDataSink.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/validator/BasicTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/PlaybackTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/TestBase.java
  validator/traces/simple.out/validation_report.json
Due: none

Fix pubber shutdown logic (#432)
  bin/reset_config
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Refactoring of validator++ codebase, just moving things around. (#434)
  bin/loop_sequences
  validator/.idea/runConfigurations/SequenceTestRunner.xml
  validator/build.gradle
  validator/src/main/java/com/google/daq/mqtt/registrar/LocalDevice.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/PointSequencer.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SkipTest.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/semantic/SemanticDate.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/semantic/SemanticValue.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/WritebackSequences.java
  validator/src/main/java/com/google/daq/mqtt/util/Common.java
  validator/src/main/java/com/google/daq/mqtt/util/ConfigDiffEngine.java
  validator/src/main/java/com/google/daq/mqtt/util/ExceptionMap.java
  validator/src/main/java/com/google/daq/mqtt/util/JsonUtil.java
  validator/src/main/java/com/google/daq/mqtt/util/MessageUpgrader.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
Due: none

Changing name of placeholder learning example.
  docs/learning/place_holder.pdf
  docs/learning/placeholder.pdf
Due: none

Mapping Engine and Agent (#435)
  .gencode_hash.txt
  bin/get_logs
  common/src/main/java/com/google/udmi/util/SiteModel.java
  dashboard/functions/index.js
  docs/specs/onboarding.md
  gencode/docs/command_mapping.html
  gencode/docs/event_mapping.html
  gencode/java/udmi/schema/BuildingTranslation.java
  gencode/java/udmi/schema/MappingCommand.java
  gencode/java/udmi/schema/MappingEvent.java
  gencode/python/udmi/schema/__init__.py
  gencode/python/udmi/schema/building_config.py
  gencode/python/udmi/schema/building_translation.py
  gencode/python/udmi/schema/command_mapping.py
  gencode/python/udmi/schema/event_mapping.py
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/building_config.json
  schema/building_translation.json
  schema/command_mapping.json
  schema/event_mapping.json
  validator/.idea/runConfigurations/IotCoreProxy.xml
  validator/.idea/runConfigurations/MappingAgent.xml
  validator/.idea/runConfigurations/Schema.xml
  validator/.idea/runConfigurations/Swarm.xml
  validator/.idea/runConfigurations/Swarmer.xml
  validator/src/main/java/com/google/daq/mqtt/mapping/MappingAgent.java
  validator/src/main/java/com/google/daq/mqtt/mapping/MappingBase.java
  validator/src/main/java/com/google/daq/mqtt/mapping/MappingEngine.java
  validator/src/main/java/com/google/daq/mqtt/mapping/MappingSink.java
  validator/src/main/java/com/google/daq/mqtt/util/JsonUtil.java
  validator/src/main/java/com/google/daq/mqtt/util/MessageHandler.java
  validator/src/main/java/com/google/daq/mqtt/util/Pair.java
  validator/src/main/java/com/google/daq/mqtt/util/PubSubClient.java
Due: none

Add new links for learning materials (#438)
  docs/learning/readme.md
Due: none

Clean out learning .pdf files (need to rebase to here)
  docs/learning/place_holder.pdf
  docs/learning/readme.md
  docs/readme.md
Due: none

Adding script to work with git remote branches (#426)
  bin/git-branch-create
  bin/git-branch-remote
  bin/git-branch-status
  bin/git-branch-update
  docs/learning/readme.md
  docs/tools/README.md
  docs/tools/gittools.md
Due: none

Updating gencode.md docs (#440)
  bin/loop_sequences
  docs/specs/sequences/generated.md
Due: none

Update list in compliance.md and fix generator (#446)
  bin/gencode_docs
  docs/specs/compliance.md
Due: none

Adding cloud_logs example
  docs/tools/gcloud.md
Due: none

update external_refs with learning material links and fix CI test (#445)
  bin/gencode_docs
  etc/external_refs.txt
Due: none

add ci test
  .gencode_hash.txt
  bin/gencode
  bin/gencode_docs
  bin/gencode_docs_checklinks
  bin/gencode_docs_examples
  docs/messages/event.md
Due: none

remove extra file
  bin/gencode_doc_examples
Due: none

#1367-added type for data source
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/server/datasources.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/api/src/site/resolvers.ts
Due: api

#1367-refactored sitesDS
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/api/src/site/model.ts
  udmif/api/src/site/resolvers.ts
Due: api

#1367-code cleanup
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/site/resolvers.ts
  udmif/api/src/site/schema.graphql
Due: api

test add ci test expect fail
  bin/gencode
  docs/messages/event.md
Due: none

checkout .gencode_hash.txt from master
  .gencode_hash.txt
Due: none

test ci expect pass
  docs/messages/event.md
Due: none

commit gencode
  .gencode_hash.txt
Due: none

add inline examples
  bin/gencode
  bin/gencode_docs_checklinks
  bin/gencode_docs_examples
Due: none

add additional examples, fix mermaid display
  _includes/head-custom.html
  docs/specs/sequences/endpoint_reconfiguration.md
  tests/config.tests/endpoint_reconfiguration.json
  tests/config.tests/endpoint_reconfiguration.out
  tests/state.tests/endpoint_reconfiguration.json
  tests/state.tests/endpoint_reconfiguration.out
Due: none

Slight debugging
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
Due: none

Refactoring IoT Core provider
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/util/IoTCoreProvider.java
Due: none

Linty fixes
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/util/IotCoreProvider.java
  validator/src/main/java/com/google/daq/mqtt/util/IotProvider.java
Due: none

Mock provider for unit-testing
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/util/IotMockProvider.java
Due: none

Linty
  validator/src/main/java/com/google/daq/mqtt/util/IotMockProvider.java
Due: none

Adding more registrar unit tests
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/util/IotCoreProvider.java
  validator/src/main/java/com/google/daq/mqtt/util/IotMockProvider.java
  validator/src/main/java/com/google/daq/mqtt/util/IotProvider.java
  validator/src/test/java/com/google/daq/mqtt/registrar/RegistrarTest.java
Due: none
