Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

Remove all existing lint warnings for validator/ (#452)
  validator/.idea/runConfigurations/Registrar.xml
  validator/build.gradle
  validator/src/main/java/com/google/bos/iot/core/proxy/IotReflectorClient.java
  validator/src/main/java/com/google/bos/iot/core/proxy/MessageValidator.java
  validator/src/main/java/com/google/bos/iot/core/proxy/MqttPublisher.java
  validator/src/main/java/com/google/bos/iot/core/proxy/NullPublisher.java
  validator/src/main/java/com/google/bos/iot/core/proxy/ProxyTarget.java
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/util/ConfigUtil.java
  validator/src/main/java/com/google/daq/mqtt/util/DeviceExceptionManager.java
Due: none

#1418-added tests
  udmif/web/src/app/app.component.spec.ts
  udmif/web/src/app/common/pipes/capitalize.pipe.spec.ts
  udmif/web/src/app/common/pipes/capitalize.pipe.ts
  udmif/web/src/app/common/pipes/parse.pipe.spec.ts
  udmif/web/src/app/common/pipes/parse.pipe.ts
  udmif/web/src/app/device/device.service.spec.ts
  udmif/web/src/app/site/site.component.spec.ts
  udmif/web/src/app/site/site.service.spec.ts
  udmif/web/src/app/sites/sites.component.spec.ts
  udmif/web/src/app/sites/sites.service.spec.ts
Due: web

#1418-return value instead of undefined when not supplied to parse pipe
  udmif/web/src/app/common/pipes/parse.pipe.spec.ts
  udmif/web/src/app/common/pipes/parse.pipe.ts
Due: web

Adding interface javadoc
  validator/src/main/java/com/google/daq/mqtt/util/IotProvider.java
Due: none

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

1416-made devices component work stand alone and under sites
  udmif/web/src/app/app-routing.module.ts
  udmif/web/src/app/device/device.component.spec.ts
  udmif/web/src/app/device/device.component.ts
  udmif/web/src/app/device/device.d.ts
  udmif/web/src/app/device/device.gql.ts
  udmif/web/src/app/device/device.service.spec.ts
  udmif/web/src/app/devices/devices-routing.module.ts
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.spec.ts
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.gql.ts
  udmif/web/src/app/devices/devices.service.spec.ts
  udmif/web/src/app/devices/devices.service.ts
  udmif/web/src/app/points/points.component.spec.ts
  udmif/web/src/app/points/points.component.ts
  udmif/web/src/app/site/site.component.spec.ts
  udmif/web/src/app/site/site.component.ts
  udmif/web/src/app/sites/sites-routing.module.ts
  udmif/web/src/app/sites/sites.component.html
  udmif/web/src/app/sites/sites.service.ts
Due: web

Don't block registar devices, and refactor a bit to enable Registrar unit testing (#451)
  .github/workflows/testing.yml
  bin/test_registrar
  tests/downgrade.site/registration_summary.json
  validator/bin/build
  validator/src/main/java/com/google/daq/mqtt/registrar/Registrar.java
  validator/src/main/java/com/google/daq/mqtt/registrar/RegistrarTest.java
  validator/src/main/java/com/google/daq/mqtt/util/CloudIotManager.java
  validator/src/main/java/com/google/daq/mqtt/util/IotCoreProvider.java
  validator/src/main/java/com/google/daq/mqtt/util/IotMockProvider.java
  validator/src/main/java/com/google/daq/mqtt/util/IotProvider.java
  validator/src/test/java/com/google/daq/mqtt/registrar/RegistrarTest.java
Due: none

#1416-adjusted UI to supply filter on autocomplete options
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.d.ts
  udmif/web/src/app/devices/devices.service.ts
  udmif/web/src/app/search-filter/search-filter.component.ts
  udmif/web/src/app/sites/sites.d.ts
  udmif/web/src/app/sites/sites.service.ts
Due: web

#1416-adjusted API to handle filter on auto complete options
  udmif/api/src/common/model.ts
  udmif/api/src/common/schema.graphql
  udmif/api/src/dao/DAO.ts
  udmif/api/src/mongo/MongoAggregateBuilder.ts
  udmif/api/src/mongo/MongoFilterBuilder.ts
  udmif/api/src/site/SiteDataSource.ts
Due: api

PR comments
  docs/specs/categories.md
  docs/specs/sequences/endpoint_reconfiguration.md
  tests/state.tests/endpoint_reconfiguration_failed.json
Due: none

last timestamp
  docs/specs/sequences/endpoint_reconfiguration.md
Due: none

#1416-added tests
  udmif/web/src/app/devices/devices.component.spec.ts
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.service.spec.ts
  udmif/web/src/app/sites/sites.component.ts
  udmif/web/src/app/sites/sites.service.spec.ts
Due: web

Tweaks to pubber to fix state handling for endpoint redirect (#4)
  bin/pubber
  pubber/src/main/java/daq/pubber/Pubber.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

#1416-added tests for api
  udmif/api/src/__tests__/dao/DAO.spec.ts
  udmif/api/src/__tests__/mongo/MongoAggregateBuilder.spec.ts
  udmif/api/src/__tests__/mongo/MongoFilterBuilder.spec.ts
Due: api

x
  bin/sequencer
Due: none

Refacting many test things
  validator/.idea/runConfigurations/SequenceRunner.xml
  validator/src/main/java/com/google/daq/mqtt/WebServerRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/PointSequencer.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceTestRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceWebServer.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequencesBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
  validator/src/main/java/com/google/daq/mqtt/util/SimpleWebServer.java
  validator/src/main/java/com/google/daq/mqtt/util/ValidatorConfig.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
  validator/src/test/java/com/google/daq/mqtt/TestCommon.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceRunnerTest.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceWebServerTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/BasicTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/PlaybackTest.java
  validator/src/test/java/com/google/daq/mqtt/validator/TestBase.java
Due: none

x
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Test refactoring
  validator/src/main/java/com/google/daq/mqtt/WebServerRunner.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/util/SimpleWebServer.java
  validator/src/test/java/com/google/daq/mqtt/TestCommon.java
  validator/src/test/java/com/google/daq/mqtt/WebServerRunnerTest.java
  validator/src/test/java/com/google/daq/mqtt/registrar/RegistrarTest.java
  validator/src/test/java/com/google/daq/mqtt/sequencer/SequenceRunnerTest.java
Due: none

Linty tests
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/test/java/com/google/daq/mqtt/WebServerRunnerTest.java
Due: none

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

Generalize way to identify tests
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/util/Common.java
Due: none

Refactoring
  validator/src/main/java/com/google/daq/mqtt/util/Common.java
Due: none

udmi_version in validator config
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequencesBase.java
  validator/src/main/java/com/google/daq/mqtt/util/ValidatorConfig.java
Due: none

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
Due: none

Adding udmi_version into request handler
  common/src/main/java/com/google/udmi/util/SiteModel.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
Due: none

#1423-added resolved device fields
  udmif/api/src/common/model.ts
  udmif/api/src/device/model.ts
  udmif/api/src/device/resolvers.ts
  udmif/api/src/device/schema.graphql
  udmif/api/src/site/model.ts
  udmif/api/src/site/resolvers.ts
Due: api

#1423-display more device columns
  udmif/web/src/app/device/device.d.ts
  udmif/web/src/app/devices/devices-routing.module.ts
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.gql.ts
Due: web

#1423-fixed web tests
  udmif/web/src/app/devices/devices.service.spec.ts
Due: web

Tweaking to find classes
  bin/sequencer
  validator/.idea/runConfigurations/SequenceRunner.xml
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceRunner.java
  validator/src/main/java/com/google/daq/mqtt/util/Common.java
Due: none
