Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

Fixing timestamp issue where telemetry timestamps are not saved (#299)
  udmif/event-handler/src/__tests__/device/DeviceDocumentUtils.spec.ts
  udmif/event-handler/src/device/DeviceDocumentUtils.ts
Due: event-handler

x
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
Due: none

fix sample rate
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/PointsetSequences.java
Due: none

code style
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/PointsetSequences.java
Due: none

add extra valid_serial_no
  etc/sequencer.out
Due: none

change skip message
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/PointsetSequences.java
Due: none

move sample_rate tests to PointsetSequences.java and skip if no pointset configured (#591)
  etc/sequencer.out
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/PointsetSequences.java
Due: none

wip
  docs/specs/buckets.md
  docs/specs/compliance.md
Due: none

run gencode
  .gencode_hash.txt
  gencode/java/udmi/schema/Bucket.java
Due: none

set feature stage and bucket
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/BlobsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/PointsetSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/SystemSequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/WritebackSequences.java
Due: none

removed buld file from gcp
  cloud/gcp/build.yml
Due: gcp

adjusting cloud files
  cloud/gcp/build.yml
Due: gcp

corrected postgres network and removed mongoDb from terraform
  cloud/gcp/main.tf.template
  cloud/gcp/mongodb.tf
  cloud/gcp/postgresql.tf
  cloud/gcp/provider.tf
  cloud/gcp/terraform.tfvars.template
  cloud/gcp/variables.tf
  cloud/gcp/vpc.tf
  udmif/deploy.md
Due: gcp

Opj 4 5 add data loader (#298)
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/src/__tests__/site/SiteDataSource.spec.ts
  udmif/api/src/dao/DAO.ts
  udmif/api/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
  udmif/api/src/site/SiteDataSource.ts
Due: api

Fix validation error (#297)
  udmif/api/package-lock.json
  udmif/api/src/__tests__/site/MockSiteDataSource.ts
  udmif/api/src/__tests__/site/SiteDataSource.spec.ts
  udmif/api/src/__tests__/site/resolve.spec.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/event-handler/package-lock.json
Due: api, event-handler

Temp branch (#245)
  udmif/api/tsconfig.json
  udmif/api/util/siteUtil.ts
  udmif/event-handler/package-lock.json
  udmif/web/src/app/sites/sites.component.html
Due: api, web, event-handler

squashing master
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/src/dao/postgresql/AbstracyPostgreSQLDAO.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/api/tsconfig.json
  udmif/api/util/siteUtil.ts
  udmif/event-handler/package-lock.json
Due: api, event-handler

Fix validation error (#297)
  udmif/api/src/site/SiteDataSource.ts
  udmif/event-handler/package-lock.json
Due: api, event-handler

Opj 4 5 add data loader (#298)
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/src/site/SiteDataSource.ts
Due: api

x
  schema/config_blobset.json
  tests/config.tests/blobset_final.json
Due: none

x
  bin/sequencer
Due: none

Basic noLastStart option
  .gencode_hash.txt
  docs/specs/sequences/generated.md
  etc/test_itemized.out
  gencode/docs/configuration_pubber.html
  gencode/java/udmi/schema/PubberOptions.java
  gencode/python/udmi/schema/options_pubber.py
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/options_pubber.json
  validator/sequences/valid_serial_no/sequence.md
Due: none

Fill in missing state last_start
  udmis/functions/index.js
Due: none

Revert generated changes
  docs/specs/sequences/generated.md
  validator/sequences/valid_serial_no/sequence.md
Due: none

Fix up NPE for empty config
  udmis/functions/index.js
Due: none

Fix some resetConfig race condition stuff
  udmis/functions/index.js
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Updating functions version
  udmis/deploy_udmis_gcloud
Due: none

CLeaning up lastStart handling
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Fix last_start change handling
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Fix change tracing
  docs/specs/sequences/generated.md
  validator/sequences/feature_enumeration/sequence.md
  validator/sequences/system_mode_restart/sequence.md
  validator/sequences/valid_serial_no/sequence.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Fix trace mechanism
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none
