Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

.gitlab-ci.yml:

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api 
  trigger:
    include: udmif/api/build.yml
  rules:
    - changes:
      - "udmif/api/**/*"

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml
  rules:
    - changes:
      - "udmif/web/**/*"

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml
  rules:
    - changes:
      - "udmif/event-handler/**/*"

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml
  rules:
    - changes:
      - "cloud/gcp/**/*"

Fix validator test run
  bin/test_validator
  etc/validator.out
Due: none

Revert cron change
  .github/workflows/testing.yml
Due: none

Adding nominal level
  docs/specs/categories.md
Due: none

Gencode
  .gencode_hash.txt
  docs/specs/categories.md
  gencode/docs/command_mapping.html
  gencode/docs/config_mapping.html
  gencode/docs/event.html
  gencode/docs/event_discovery.html
  gencode/docs/event_mapping.html
  gencode/docs/event_system.html
  gencode/docs/event_validation.html
  gencode/docs/state.html
  gencode/docs/state_mapping.html
  gencode/docs/state_validation.html
  gencode/java/udmi/schema/Category.java
  gencode/python/udmi/schema/__init__.py
  gencode/python/udmi/schema/category.py
  schema/category.json
Due: none

Handling validation event with a folder of type update (#234)
  udmif/event-handler/src/EventUtils.ts
  udmif/event-handler/src/UdmiEventHandler.ts
  udmif/event-handler/src/__tests__/UdmiEventHandler.spec.ts
Due: event-handler

omit unneeded changes
  bin/pubber
  package-lock.json
  pubber/build.gradle
Due: none

removed google cloud build file
  cloud/gcp/build.yml
Due: gcp

Fix for broken pubber proxy device and corresponding integration test (#475)
  .github/workflows/testing.yml
  bin/test_validator
  etc/validator.out
  pubber/src/main/java/daq/pubber/MqttPublisher.java
Due: none

updated node version
  udmif/api/build.yml
  udmif/event-handler/build.yml
  udmif/web/build.yml
Due: api, web, event-handler

Increase sequencer verbosity
  bin/test_sequencer
Due: none

Increase overall timeout
  .github/workflows/testing.yml
Due: none

Remove junit timeout
  .github/workflows/testing.yml
  bin/sequencer
Due: none

Adding some timestamp logging
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/ConfigSequences.java
Due: none

Add system event timestamps for correlation
  .gencode_hash.txt
  gencode/docs/event.html
  gencode/docs/event_system.html
  gencode/java/udmi/schema/SystemEvent.java
  gencode/python/udmi/schema/event_system.py
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/event_system.json
Due: none

Adding trace output for config differences
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/util/ConfigDiffEngine.java
Due: none

Only output differences if there are some
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Add nonce debugging to cloud functions
  dashboard/functions/index.js
Due: none

Updating debugging
  dashboard/functions/index.js
Due: none

Clean up update config handling
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/DiscoverySequences.java
  validator/src/main/java/com/google/daq/mqtt/sequencer/sequences/WritebackSequences.java
Due: none

Adjust debugging output
  docs/specs/sequences/generated.md
  validator/src/main/java/com/google/daq/mqtt/sequencer/SequenceBase.java
Due: none

Add missing update
  docs/specs/sequences/generated.md
Due: none

Updating generated.md
  docs/specs/sequences/generated.md
Due: none

Add missing config update
  docs/specs/sequences/generated.md
Due: none

Updated expected sequence.md files
  validator/sequences/broken_config/sequence.md
  validator/sequences/endpoint_config_connection_error/sequence.md
  validator/sequences/endpoint_config_connection_success_reconnect/sequence.md
  validator/sequences/extra_config/sequence.md
  validator/sequences/periodic_scan/sequence.md
  validator/sequences/self_enumeration/sequence.md
  validator/sequences/single_scan/sequence.md
  validator/sequences/system_min_loglevel/sequence.md
  validator/sequences/writeback_states/sequence.md
Due: none

Fix missing gencode
  bin/gencode_seq
  validator/sequences/broken_config/sequence.md
Due: none

Add additional cron
  .github/workflows/testing.yml
Due: none

#1417-made rows expandable
  udmif/web/src/app/device-errors/device-errors.component.scss
  udmif/web/src/app/device-errors/device-errors.component.ts
  udmif/web/src/app/device-errors/device-errors.module.ts
  udmif/web/src/app/devices/devices-routing.module.ts
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.scss
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/devices/devices.module.ts
  udmif/web/src/app/navigation/navigation.component.scss
  udmif/web/src/app/points/points.component.scss
  udmif/web/src/app/sites/sites.component.scss
  udmif/web/src/assets/images/google-logo.svg
  udmif/web/src/styles/styles.scss
Due: web

#1417-added link of device name, made row clickable
  udmif/web/src/app/breadcrumb/breadcrumb.component.scss
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.scss
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/styles/styles.scss
Due: web

#1417-removed row click
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.ts
Due: web

Add SEQUENCER_OPTS
  .github/workflows/testing.yml
  bin/test_sequencer
Due: none

#1417-made errors details row simpler
  udmif/web/src/app/device-errors/device-errors.component.ts
  udmif/web/src/app/device-errors/device-errors.module.ts
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.scss
  udmif/web/src/app/devices/devices.gql.ts
  udmif/web/src/app/devices/devices.service.spec.ts
  udmif/web/src/styles/styles.scss
Due: web

#1417-added order by pipe
  udmif/web/src/app/common/pipes/order-by.pipe.spec.ts
  udmif/web/src/app/common/pipes/order-by.pipe.ts
  udmif/web/src/app/common/pipes/pipes.module.ts
  udmif/web/src/app/devices/devices.component.html
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/styles/styles.scss
Due: web

#1417-fixed tests
  udmif/web/src/app/auth/auth.guard.spec.ts
  udmif/web/src/app/common/pipes/order-by.pipe.spec.ts
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/login/login.guard.spec.ts
Due: web

Fix mapping agent/engine
  validator/src/main/java/com/google/bos/iot/core/proxy/IotReflectorClient.java
  validator/src/main/java/com/google/daq/mqtt/mapping/MappingBase.java
  validator/src/main/java/com/google/daq/mqtt/util/PubSubClient.java
  validator/src/main/java/com/google/daq/mqtt/validator/Validator.java
Due: none

Linty cleanup
  validator/src/main/java/com/google/daq/mqtt/util/PubSubClient.java
Due: none

Fixing error.out
  tests/event_system.tests/errors.out
Due: none

commit random id for state
  schema/state.json
Due: none

#1402-made site rows expandable
  udmif/web/src/app/sites/sites.component.html
  udmif/web/src/app/sites/sites.component.scss
  udmif/web/src/app/sites/sites.component.ts
  udmif/web/src/app/sites/sites.module.ts
Due: web
