Repository faucetsdn/udmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api, web, event-handler, gcp

api:
  stage: build
  variables:
    WORKING_DIR: udmif/api
  trigger:
    include: udmif/api/build.yml

web:
  stage: build
  variables:
    WORKING_DIR: udmif/web
  trigger:
    include: udmif/web/build.yml

event-handler:
  stage: build
  variables:
    WORKING_DIR: udmif/event-handler
  trigger:
    include: udmif/event-handler/build.yml

gcp:
  stage: build
  trigger:
    include: cloud/gcp/build.yml

Add some pubber status
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Add delta specific snippets
  pubber/src/main/java/daq/pubber/Pubber.java
  tests/config.tests/delta_endpoint.json
  tests/config.tests/delta_endpoint.out
  tests/configuration_endpoint.tests/delta.json
  tests/configuration_endpoint.tests/delta.out
  tests/state.tests/blobset_updating.json
  tests/state.tests/blobset_updating.out
Due: none

Updating git scripts
  bin/git-branch-status
  bin/git-branch-update
Due: none

Updating
  bin/git-branch-status
  bin/git-branch-update
Due: none

git branch -update and -status tools (#425)
  bin/git-branch-status
  bin/git-branch-update
Due: none

Handle site errors (#216)
  udmif/event-handler/package.json
  udmif/event-handler/sample_messages/system-validation-devices.json
  udmif/event-handler/sample_messages/system-validation.json
  udmif/event-handler/src/MessageUtils.ts
  udmif/event-handler/src/__tests__/device/DeviceDocumentFactory.spec.ts
  udmif/event-handler/src/__tests__/index.spec.ts
  udmif/event-handler/src/__tests__/site/SiteDocumentFactory.spec.ts
  udmif/event-handler/src/index.ts
  udmif/event-handler/src/site/SiteDocumentFactory.ts
  udmif/event-handler/src/site/model/Site.ts
Due: event-handler

Adding more remote tools
  bin/git-branch-remote
  bin/git-branch-update
Due: none

Tweak to suggestion
  bin/git-branch-update
Due: none

Cleanup pubber shutdown
  bin/pubber
  pubber/src/main/java/daq/pubber/MqttPublisher.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Adding build optimizxation
  .github/workflows/testing.yml
  bin/pubber
  bin/test_redirect
  pubber/bin/build
  validator/bin/build
  validator/bin/reflector
Due: none

#1341-added :void
  udmif/web/src/app/devices/devices.component.ts
  udmif/web/src/app/sites/sites.component.ts
Due: web

#1341-fixed tests
  udmif/web/package-lock.json
  udmif/web/package.json
  udmif/web/src/app/search-filter/search-filter.component.spec.ts
Due: web

#1341-setup the sites screen
  udmif/web/src/app/app-routing.module.ts
  udmif/web/src/app/devices/devices.d.ts
  udmif/web/src/app/devices/devices.gql.ts
  udmif/web/src/app/devices/devices.service.ts
  udmif/web/src/app/navigation/navigation.component.html
  udmif/web/src/app/search-filter/search-filter.component.ts
  udmif/web/src/app/site/site.d.ts
  udmif/web/src/app/sites/sites-routing.module.ts
  udmif/web/src/app/sites/sites.component.html
  udmif/web/src/app/sites/sites.component.scss
  udmif/web/src/app/sites/sites.component.spec.ts
  udmif/web/src/app/sites/sites.component.ts
  udmif/web/src/app/sites/sites.d.ts
  udmif/web/src/app/sites/sites.gql.ts
  udmif/web/src/app/sites/sites.module.ts
  udmif/web/src/app/sites/sites.service.spec.ts
  udmif/web/src/app/sites/sites.service.ts
Due: web

Cleanup shutdown
  .gencode_hash.txt
  .gitignore
  gencode/docs/config.html
  gencode/docs/state.html
  gencode/java/udmi/schema/BlobBlobsetConfig.java
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/common.json
Due: none

Cleaningup shutdown
  pubber/src/main/java/daq/pubber/MqttPublisher.java
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Clean up error reporting and fix reconnect syncronization
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Remove stacktrace
  pubber/src/main/java/daq/pubber/MqttPublisher.java
Due: none

Fix phases
  tests/state.tests/blobset_received.json
  tests/state.tests/blobset_updating.json
Due: none

Fix endpoint tests
  .github/workflows/testing.yml
Due: none

Adding some restart tests
  .github/workflows/testing.yml
  bin/test_redirect
  tests/state.tests/blobset_received.json
Due: none

Remove debugging
  bin/test_redirect
Due: none

Gencode
  .gencode_hash.txt
  gencode/docs/config.html
  gencode/docs/state.html
  gencode/java/udmi/schema/BlobBlobsetConfig.java
Due: none

Linty
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Restore missing line
  bin/test_redirect
Due: none

#1341-renamed the sites query and created a proper sites query
  udmif/api/src/__tests__/device/DeviceDataSource.spec.ts
  udmif/api/src/__tests__/device/MockDeviceDataSource.ts
  udmif/api/src/__tests__/device/SearchOptionsValidator.spec.ts
  udmif/api/src/__tests__/device/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/device/dao/mongo/MongoDeviceDAO.spec.ts
  udmif/api/src/__tests__/device/resolve.spec.ts
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/device/SearchOptionsValidator.ts
  udmif/api/src/device/dao/DeviceDAO.ts
  udmif/api/src/device/dao/mongodb/MongoDeviceDAO.ts
  udmif/api/src/device/dao/static/StaticDeviceDAO.ts
  udmif/api/src/device/model.ts
  udmif/api/src/device/resolvers.ts
  udmif/api/src/device/schema.graphql
Due: api

#1341-fixed/added tests
  udmif/api/package-lock.json
  udmif/api/src/__tests__/device/DeviceDataSource.spec.ts
  udmif/api/src/__tests__/device/__snapshots__/resolve.spec.ts.snap
  udmif/api/src/__tests__/device/resolve.spec.ts
Due: api

Add restart mode debugging
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Debugging and another sleep
  bin/test_redirect
Due: none

Remove debugging
  pubber/src/main/java/daq/pubber/Pubber.java
Due: none

Restart testing and general pubber stability (#427)
  .gencode_hash.txt
  .github/workflows/testing.yml
  .gitignore
  bin/pubber
  bin/reset_config
  bin/test_redirect
  dashboard/functions/index.js
  gencode/docs/config.html
  gencode/docs/state.html
  gencode/java/udmi/schema/BlobBlobsetConfig.java
  gencode/java/udmi/schema/SystemConfig.java
  gencode/java/udmi/schema/SystemState.java
  gencode/python/udmi/schema/config_system.py
  gencode/python/udmi/schema/state_system.py
  pubber/bin/build
  pubber/src/main/java/daq/pubber/MqttPublisher.java
  pubber/src/main/java/daq/pubber/Pubber.java
  schema/common.json
  schema/config_system.json
  schema/state_system.json
  tests/state.tests/blobset_received.json
  tests/state.tests/blobset_updating.json
  validator/bin/build
  validator/bin/reflector
Due: none

Updating with stale prune commands
  bin/git-branch-remote
Due: none

Adding initial docs
  docs/tools/gittools.md
Due: none

Docs
  docs/tools/gittools.md
Due: none

Updating docs
  bin/git-branch-status
  docs/tools/gittools.md
Due: none

Updating docs refs
  docs/tools/README.md
  docs/tools/gittools.md
Due: none

Add git-branch-create
  bin/git-branch-create
  docs/tools/gittools.md
Due: none

#1341-created a generic dao
  udmif/api/src/__tests__/device/DeviceDataSource.spec.ts
  udmif/api/src/__tests__/device/dao/DeviceDAOFactory.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoAggregateBuilder.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoClient.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoDeviceDAO.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoFilterBuilder.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoSortBuilder.spec.ts
  udmif/api/src/__tests__/device/dao/static/StaticDeviceDAO.spec.ts
  udmif/api/src/app.ts
  udmif/api/src/dao/DAO.ts
  udmif/api/src/dao/MongoCollectionProvider.ts
  udmif/api/src/dao/mongodb/MongoAggregateBuilder.ts
  udmif/api/src/dao/mongodb/MongoFilterBuilder.ts
  udmif/api/src/dao/mongodb/MongoSortBuilder.ts
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/device/dao/DeviceDAO.ts
  udmif/api/src/device/dao/DeviceDAOFactory.ts
  udmif/api/src/device/dao/mongodb/MongoDeviceDAO.ts
  udmif/api/src/device/dao/static/StaticDeviceDAO.ts
  udmif/api/src/device/dao/static/StaticDeviceFilter.ts
  udmif/api/src/device/model.ts
  udmif/api/src/device/resolvers.ts
  udmif/api/src/device/schema.graphql
  udmif/api/src/server/datasources.ts
  udmif/api/src/server/schema.ts
  udmif/api/src/site/FilterParser.ts
  udmif/api/src/site/SearchOptionsValidator.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/api/src/site/model.ts
  udmif/api/src/site/resolvers.ts
  udmif/api/src/site/schema.graphql
  udmif/event-handler/sample_messages/system-validation.json
Due: api, event-handler

#1341-moved folders around
  udmif/api/src/__tests__/device/dao/DeviceDAOFactory.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoClient.spec.ts
  udmif/api/src/__tests__/device/dao/mongo/MongoDeviceDAO.spec.ts
  udmif/api/src/__tests__/device/dao/static/StaticDeviceDAO.spec.ts
  udmif/api/src/__tests__/device/dao/static/StaticDeviceFilter.spec.ts
  udmif/api/src/__tests__/mongo/MongoAggregateBuilder.spec.ts
  udmif/api/src/__tests__/mongo/MongoFilterBuilder.spec.ts
  udmif/api/src/__tests__/mongo/MongoSortBuilder.spec.ts
  udmif/api/src/dao/DAO.ts
  udmif/api/src/mongo/MongoAggregateBuilder.ts
  udmif/api/src/mongo/MongoCollectionProvider.ts
  udmif/api/src/mongo/MongoFilterBuilder.ts
  udmif/api/src/mongo/MongoSortBuilder.ts
Due: api

#1341-added lodash lib, moved out common logic
  udmif/api/package-lock.json
  udmif/api/package.json
  udmif/api/src/app.ts
  udmif/api/src/common/FilterParser.ts
  udmif/api/src/common/SearchOptionsValidator.ts
  udmif/api/src/common/model.ts
  udmif/api/src/common/resolvers.ts
  udmif/api/src/common/schema.graphql
  udmif/api/src/dao/DAO.ts
  udmif/api/src/device/DeviceDataSource.ts
  udmif/api/src/device/model.ts
  udmif/api/src/device/resolvers.ts
  udmif/api/src/device/schema.graphql
  udmif/api/src/mongo/MongoFilterBuilder.ts
  udmif/api/src/mongo/MongoSortBuilder.ts
  udmif/api/src/server/context.ts
  udmif/api/src/server/schema.ts
  udmif/api/src/site/FilterParser.ts
  udmif/api/src/site/SearchOptionsValidator.ts
  udmif/api/src/site/SiteDataSource.ts
  udmif/api/src/site/model.ts
  udmif/api/src/site/resolvers.ts
  udmif/api/src/site/schema.graphql
  udmif/api/tsconfig.json
Due: api

Path conditions:
  api: any of: udmif/api/**/*
  web: any of: udmif/web/**/*
  event-handler: any of: udmif/event-handler/**/*
  gcp: any of: cloud/gcp/**/*
